﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="FilmList.aspx.cs" Inherits="FilmList" %>

<%@ Register TagPrefix="filmListWebUserControl" TagName="FilmListWebUserControl" Src="~/FilmListWebUserControl.ascx" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <br>
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
    <br>
</asp:Content>
