﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FilmInfoElementWebUserControl.ascx.cs" Inherits="FilmInfoElementWebUserControl" %>

<a href="/<%: lang %>/Films?filter=<%: filterName %>&value=<%: filterValue %>" class="linkbutton"><%: filterValue %></a>
