﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FilmInfoWebUserControl.ascx.cs" Inherits="FilmInfoWebUserControl" %>

<%@ Register TagPrefix="filmInfoElementWebUserControl" TagName="FilmInfoElementWebUserControl" Src="~/FilmInfoElementWebUserControl.ascx" %>

<asp:PlaceHolder runat="server" ID="placeHolder"></asp:PlaceHolder>
