﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="PhotoAlbumList.aspx.cs" Inherits="PhotoAlbumList" %>

<%@ Register TagPrefix="photoAlbumListWebUserControl" TagName="PhotoAlbumListWebUserControl" Src="~/PhotoAlbumListWebUserControl.ascx" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <br>
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
    <br>
</asp:Content>
