﻿a.button {
    border: 1px solid #333333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 4px;
    color: #000000;
}

a.currentbutton {
    border: 1px solid #333333;
    background-color: #aaffff;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 4px;
    color: #000000;
}

a.button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #aaffff, #eeeeee);
    color: #000000;
}

a.currentbutton:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #aaffff, #eeeeee);
    color: #000000;
}

a.disabled {
    padding: 5px 15px;
    pointer-events: none;
    cursor: default;
    color: #999999;
}

a.linkbutton {
    border: 1px solid #000000;
    margin: 2px;
    background-color: #aaffff;
    display: inline-block;
    padding: 1px 5px;
    text-decoration: none;
    border-radius: 10px;
    color: #000000;
}

a.linkbutton:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: #555555;
    display: inline-block;
    padding: 1px 5px;
    text-decoration: none;
    border-radius: 10px;
    color: #aaffff;
}
